#article-container {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #22253F;
    padding: 20px;
}
#article-container .article-image {
    width: 80%;
    float: unset;
}
#article-container .article-category {
    font-variant: small-caps;
    font-weight: bold;
    color: #9773FF;
}
#article-container p.article-body {
    line-height: 1.6;
    font-size: larger;
}