#entry-container {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #22253F;
    padding: 20px;
}
#entry-container .entry-image {
    width: 80%;
    float: unset;
}
#entry-container p.entry-body {
    line-height: 1.6;
    font-size: larger;
}