body {
    background-color: #191B31;
    color: #F7F7F7;
}

body a div {
    color: #F7F7F7;
    text-decoration: none;
}

.pagination-link {
    color: #75CF67;
    font-weight: bolder;
    font-size: larger;
}