<div class="article-list">
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-list article-id:generate}}</div>
</div>