<div class="article-grid">
    <div class="article latest-article">{{template-article-preview-grid article-id:generate}}</div>
    <div class="article wide-article">{{template-article-preview-grid article-id:generate}}</div>
    <div class="article">{{template-article-preview-grid article-id:generate}}</div>
    <div class="article">{{template-article-preview-grid article-id:generate}}</div>
    <div class="article">{{template-article-preview-grid article-id:generate}}</div>
    <div class="article">{{template-article-preview-grid article-id:generate}}</div>
    <div class="article">{{template-article-preview-grid article-id:generate}}</div>
    <div class="article">{{template-article-preview-grid article-id:generate}}</div>
</div>