div.entry-grid {
    display: grid;
    grid-template-areas: 
        'latest latest . .'
        'latest latest . .'
        'wide wide . .';
    height: 150%;

    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
}
  
div.entry-grid > div.entry {
    background-color: #22253F;
    text-align: center;
    font-size: larger;
    padding: 20px;
}

div.entry-grid > div.entry img.entry-image {
    width: 80%;
}
  
div.entry-grid .latest-entry {
    grid-area: latest;
}
  
div.entry-grid .wide-entry {
    grid-area: wide;
}