<div class="entry-grid">
    <div class="entry latest-entry">{{template-entry-preview-grid entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-grid entry-id:generate}}</div>
    <div class="entry">{{template-entry-preview-grid entry-id:generate}}</div>
    <div class="entry">{{template-entry-preview-grid entry-id:generate}}</div>
    <div class="entry">{{template-entry-preview-grid entry-id:generate}}</div>
    <div class="entry">{{template-entry-preview-grid entry-id:generate}}</div>
    <div class="entry">{{template-entry-preview-grid entry-id:generate}}</div>
    <div class="entry">{{template-entry-preview-grid entry-id:generate}}</div>
</div>