ul.entry-category li a {
    font-variant: small-caps;
    font-weight: bold;
    color: #9773FF;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.entry-category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}