<div class="entry-grid-listing">
    <a href="entry.html?entryId={{special-entry-field name:id}}">
        <img src="{{special-entry-field name:image}}" class="entry-image">
    </a>
    <br>
    {{template-entry-category}}
    <a class="entry-grid-listing-body" href="entry.html?entryId={{special-entry-field name:id}}">
        <h3>{{special-entry-field name:title}}</h3>
        <p class='entry-snippet'>{{special-entry-field name:body max-len:160}}</p>
    </a>
    {{template-star-rating enabled:false}}
</div>