<div class="entry-list">
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
    <div class="entry wide-entry">{{template-entry-preview-list entry-id:generate}}</div>
</div>