.entry-image {
    max-width: 100%;
    height: 50%;
}
.entry-category {
    font-variant: small-caps;
    font-weight: bold;
    color: #9773FF;
}

div.entry-grid-listing .rate > label:before {
    font-size: 1.4rem;
    padding: .15rem .1rem;
}